@charset "UTF-8";
@import './reset.css';
@font-face {
  font-family: Pretendard-Regular;
  src: url(./font/Pretendard-Regular.woff);
}
@font-face {
  font-family: Pretendard-SemiBold;
  src: url(./font/Pretendard-SemiBold.woff);
}
@font-face {
  font-family: NanumMyeongjoBold;
  src: url(./font/NanumMyeongjoBold.woff);
}
body {
  background-color: black;
  color: #fff;
  font-family: NanumMyeongjoBold;
}

.gnb {
  font-family: Pretendard-SemiBold;
}
.gnb header {
  position: fixed;
  top: 0;
  width: calc(100% - 100px);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: #fff;
  z-index: 99;
}
.gnb header h1 {
  width: 100px;
  text-align: center;
}
.gnb header h1 img {
  width: 100%;
}
.gnb header nav {
  display: none;
  width: 400px;
  padding-right: 20px;
}
.gnb header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gnb header nav ul li {
  font-weight: 500;
  font-size: 17px;
}
.gnb header nav ul li:hover {
  color: #FFC500;
}
.gnb .menu {
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 50;
  text-align: center;
  padding: 20px;
}
.gnb .menu .menu-bar {
  margin-top: 23px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}
.gnb .menu .menu-bar ::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}
.gnb .menu .menu-bar ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}
.gnb .menu .menu-bar a {
  width: 50px;
  display: inline-block;
  text-indent: -9999px;
}

.wrap {
  max-width: 1920px;
}
.wrap section {
  height: 100vh;
  overflow: hidden;
}
.wrap .sect1 {
  position: relative;
}
.wrap .sect1 .video {
  overflow: hidden;
}
.wrap .sect1 .video video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .sect1 .main-text {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  color: #fff;
}
.wrap .sect1 .main-text p {
  padding-top: 20px;
}
.wrap .sect2 {
  position: relative;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/bg2.webp);
  background-position: center;
  background-repeat: no-repeat;
}
.wrap .sect2 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.wrap .sect3 {
  overflow: hidden;
  position: relative;
}
.wrap .sect3 .group-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.wrap .sect3 .group-bg .bg-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: center;
}
.wrap .sect3 .group-bg .bg-list .bg-item:nth-child(even) .gallery {
  animation-direction: reverse;
}
@keyframes gallery-ani {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.wrap .sect3 .group-bg .bg-list .bg-item .gallery {
  animation: gallery-ani 20s infinite linear;
}
.wrap .sect3 .group-bg .bg-list .bg-item .gallery img {
  height: 100%;
}
.wrap .sect3 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.wrap .sect4 {
  overflow: hidden;
  background-color: #000;
}
.wrap .sect4 h2.title {
  margin-top: 125px;
  padding-bottom: 30px;
  text-align: center;
}
.wrap .sect4 > ul {
  position: relative;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  z-index: 99;
}
.wrap .sect4 > ul li.item {
  cursor: pointer;
  position: relative;
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}
.wrap .sect4 > ul li.item:hover .desc {
  opacity: 1;
  bottom: 60px;
}
.wrap .sect4 > ul li.item.item1 {
  background-image: url(./images/아코디언/item1.png);
}
.wrap .sect4 > ul li.item.item2 {
  background-image: url(./images/아코디언/item2.png);
}
.wrap .sect4 > ul li.item.item3 {
  background-image: url(./images/아코디언/item3.png);
}
.wrap .sect4 > ul li.item.item4 {
  background-image: url(./images/아코디언/item4.png);
}
.wrap .sect4 > ul li.item .desc {
  font-family: Pretendard-Regular;
  position: absolute;
  bottom: -80px;
  opacity: 0;
  transition: 1.2s;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.wrap .sect4 > ul li.item .desc .level-wrap {
  display: flex;
  gap: 10px;
}
.wrap .sect4 > ul li.item .desc .level-wrap ul.level {
  display: flex;
}
.wrap .sect4 > ul li.item .desc .level-wrap ul.level li {
  width: 25px;
}
.wrap .sect4 > ul li.item .desc .level-wrap ul.level li img {
  width: 100%;
}
.wrap .sect4 > ul li.item .desc .type-item {
  display: flex;
  gap: 10px;
}
.wrap .sect5 {
  background-image: url(./images/bg7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.wrap .sect5 .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrap .sect5 .wrapper .title-wrap {
  text-align: center;
  padding-bottom: 30px;
  text-align: center;
}
.wrap .sect5 .wrapper .title-wrap p {
  font-size: 20px;
  padding-bottom: 20px;
  font-family: "Pretendard-Regular";
}
.wrap .sect5 .wrapper .title-wrap h2 {
  padding-bottom: 10px;
}
.wrap .sect5 .wrapper .swiper {
  width: 100%;
  height: 100%;
}
.wrap .sect5 .wrapper .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrap .sect5 .wrapper .swiper .swiper-wrapper .swiper-slide.slide1 {
  background-image: url(./images/gallery/gallery21.png);
}
.wrap .sect5 .wrapper .swiper .swiper-wrapper .swiper-slide.slide2 {
  background-image: url(./images/gallery/gallery22.png);
}
.wrap .sect5 .wrapper .swiper .swiper-wrapper .swiper-slide.slide3 {
  background-image: url(./images/gallery/gallery23.png);
}
.wrap .sect5 .wrapper .swiper .swiper-wrapper .swiper-slide.slide4 {
  background-image: url(./images/gallery/gallery24.png);
}
.wrap .sect5 .wrapper .swiper .swiper-wrapper .swiper-slide.slide5 {
  background-image: url(./images/gallery/gallery25.png);
}
.wrap .sect5 .wrapper .swiper .swiper-wrapper .swiper-slide.slide6 {
  background-image: url(./images/gallery/gallery26.png);
}
.wrap .sect5 .wrapper .swiper .swiper-wrapper .swiper-slide.slide7 {
  background-image: url(./images/gallery/gallery27.png);
}
.wrap .sect6 {
  background-image: url(./images/bg8.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .gnb header {
    left: 0;
  }
  .gnb .menu {
    right: 0;
  }
  section.sect1 .video {
    height: 100%;
  }
  section.sect1 .video video {
    height: 100%;
  }
  section.sect1 .main-text {
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  section.sect1 .main-text h2 {
    font-size: 9vw;
    word-spacing: -5px;
    line-height: 1.3;
  }
  section.sect1 .main-text p {
    font-size: 3vw;
  }
  section.sect2 {
    background-size: 100%;
    font-size: 3vw;
    line-height: 1.5;
    white-space: nowrap;
  }
  section.sect3 {
    font-size: 3vw;
    line-height: 1.5;
    white-space: nowrap;
  }
  section.sect3 .group-bg .bg-list {
    top: -30%;
    left: -50%;
  }
  section.sect3 .group-bg .bg-list .bg-item {
    width: 400px;
  }
  section.sect4 h2 {
    font-size: 8vw;
    word-spacing: -5px;
  }
  section.sect4 > ul {
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
  }
  section.sect4 > ul li.item {
    position: relative;
    flex: 1;
    border-radius: 5px;
  }
  section.sect4 > ul li.item:hover {
    flex: 8;
  }
  section.sect4 > ul .desc {
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
  }
  section.sect5 .title-wrap {
    margin-top: 180px;
  }
  section.sect5 .title-wrap h2 {
    font-size: 8vw;
    word-spacing: -5px;
  }
  section.sect5 .swiper-slide {
    height: 300px;
  }
}
@media screen and (min-width: 801px) {
  .gnb header {
    left: 100px;
  }
  .gnb header nav {
    display: block;
  }
  .gnb .menu {
    left: 0;
  }
  section.sect1 .video video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.sect1 .main-text {
    left: 10%;
    transform: translatey(-50%);
  }
  section.sect1 .main-text h2 {
    font-size: 4vw;
    word-spacing: -5px;
    line-height: 1.3;
  }
  section.sect1 .main-text p {
    font-size: 1vw;
  }
  section.sect2 {
    background-size: 70%;
    font-size: 1.5vw;
    line-height: 1.5;
  }
  section.sect3 {
    font-size: 1.5vw;
    line-height: 1.5;
  }
  section.sect3 .group-bg .bg-list {
    top: -25%;
    left: -50%;
  }
  section.sect3 .group-bg .bg-list .bg-item {
    height: 300px;
  }
  section.sect4 h2 {
    font-size: 3vw;
    word-spacing: -5px;
  }
  section.sect4 > ul {
    width: 94%;
    left: 100px;
  }
  section.sect4 > ul li.item {
    position: relative;
    flex: 1;
    border-radius: 15px;
  }
  section.sect4 > ul li.item:hover {
    flex: 2;
  }
  section.sect4 > ul .desc {
    left: 50px;
    gap: 10px;
  }
  section.sect5 .title-wrap {
    margin-top: 125px;
  }
  section.sect5 .title-wrap h2 {
    font-size: 3vw;
    word-spacing: -5px;
  }
  section.sect5 .swiper-slide {
    height: 500px;
  }
}