@import url(/reset.css);
$container: 1024px;

@mixin flex-align($justify) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@font-face {
    font-family: NotoSans-Bold;
    src: url(./font/NotoSans-Bold.woff);
}

@font-face {
    font-family: NotoSans-Light;
    src: url(./font/NotoSans-Light.woff);
}

@font-face {
    font-family: NotoSans-Thin;
    src: url(./font/NotoSans-Thin.woff);
}

@font-face {
    font-family: NotoSans-Medium;
    src: url(./font/NotoSans-Medium.woff);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(./font/Montserrat-Bold.woff);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(./font/Montserrat-Light.woff);
}



body {
    background-color: #fff
}

header {
    @include flex-align(center);
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid #efefef;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        background-color: #ffffff;
        position: absolute;
        top: 90px;
        transition: 1s;

    }

    &.bon::before {
        height: 400px;
    }

    &.on {
        top: -100px;
    }

    h1 {
        width: 20%;
        padding-left: 40px;

        img {
            width: 190px;
        }
    }

    nav {
        font-family: NotoSans-Bold;
        font-size: 18px;
        color: #333;
        text-align: center;
        width: 55%;

        &>ul {
            @include flex-align(space-between);

            li.main-menu {
                position: relative;
                line-height: 5;
                flex: 1;
            }

            .sub-menu {
                width: 100%;
                position: absolute;
                top: 100%;
                font-size: 16px;
                font-family: NotoSans-Light;
                color: #555555;
                z-index: 99;
                display: none;
                line-height: 1.5;
                // background-color: #fff;

                li {
                    padding: 10px 0;

                    a:hover {
                        border-bottom: 1px solid #149f5c;
                        color: #149f5c;
                    }
                }
            }

        }
    }

    .gnb {
        font-family: NotoSans-Light;
        font-size: 15px;
        color: #888;
        width: 15%;
        padding: 10px 40px 10px 0;
        @include flex-align(space-between);
    }
}

section {

    .container {
        width: $container;
        margin: auto;
        margin-top: 100px;
    }



    &.sect1 {
        height: 100vh;
        position: relative;
        color: #fbfbfb;


        .swiper {

            p {
                font-family: NotoSans-Bold;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                font-size: 60px;
            }

            .swiper-slide {

                &.slide1 {
                    background-image: url(./images/bg1.png);
                }

                &.slide2 {
                    background-image: url(./images/bg2.png);
                }

                &.slide3 {
                    background-image: url(./images/bg3.png);
                }

                &.slide4 {
                    background-image: url(./images/bg4.png);
                }

                &.slide5 {
                    background-image: url(./images/bg5.jpg);
                }

                &.slide6 {
                    background-image: url(./images/bg6.jpg);
                }

                &.slide7 {
                    background-image: url(./images/bg7.jpg);
                }
            }
        }

        .slide-menu {
            @include flex-align(center);
            gap: 18px;
            position: absolute;
            left: 50%;
            top: 62%;
            transform: translateX(-50%);
            z-index: 10;

            .paging-menu {
                @include flex-align(center);
                gap: 18px;

                li {
                    width: 30px;
                    height: 30px;
                    color: transparent;
                    cursor: pointer;
                    background-image: url(./images/mainRoll_indi.png);

                    &.on {
                        background-image: url(./images/mainRoll_indi_on.png);
                    }
                }
            }

            a.pause {
                display: inline-block;
                width: 9px;
                height: 11px;
                color: transparent;
                background-image: url(./images/btn_pause.png);

                &.active {
                    background-image: url(./images/btn_play.png);
                }
            }


        }

        a.arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
        }

        a.prev {
            left: 10px;
        }

        a.next {
            right: 10px;
        }
    }

    &.sect2 {
        height: 200vh;

        .sticky-title {
            text-align: center;
            color: #919191;
            position: sticky;
            top: 0;
            padding-top: 100px;
            transition: .5s;

            h2 {
                font-family: Montserrat-Bold;
                font-size: 240px;
                letter-spacing: -8px;
            }

            p {
                font-family: NotoSans-Light;
                font-size: 24px;
            }
        }

        .listDiv {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
            gap: 40px;

            .list {
                width: 492px;
                height: 492px;
                color: #fff;
                width: 48%;
                padding: 60px;

                .type {
                    font-family: NotoSans-Light;
                    font-size: 20px;
                }

                .con {
                    font-family: NotoSans-Medium;
                    font-size: 20px;

                    span {
                        font-family: Montserrat-Bold;
                        font-size: 120px;
                    }
                }


                &.list1 {
                    background-image: url(./images/mainCon_one_list_bg1.jpg);
                }

                &.list2 {
                    transform: translateY(15%);
                    background-image: url(./images/mainCon_one_list_bg2.jpg);
                }

                &.list3 {

                    background-image: url(./images/mainCon_one_list_bg3.jpg);
                }

                &.list4 {
                    transform: translateY(15%);
                    background-image: url(./images/mainCon_one_list_bg4.jpg);
                }
            }
        }
    }

    &.sect3 {
        height: 130vh;
        position: relative;

        .bgDiv {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            #video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
            }

            .bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(39, 145, 115, 0.9);
            }
        }


        // .box {
        //     width: 100%;
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }

        .sticky-title {
            text-align: center;
            color: #fff;
            position: sticky;
            top: 0;
            padding-top: 100px;
            transition: .5s;

            h2 {
                font-family: Montserrat-Bold;
                font-size: 240px;
                letter-spacing: -8px;
            }

            p {
                font-family: NotoSans-Light;
                font-size: 24px;
            }
        }

        .container {
            .tab-content {
                color: #333;
                background-color: #fff;
                position: relative;
                height: 470px;

                article {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    background-color: #fff;
                    padding: 50px;
                    opacity: 0;

                    &.on {
                        opacity: 1;
                        z-index: 10;

                        .product-img .img {
                            opacity: 1;
                            transform: translateY(0);
                        }

                        .btn {
                            opacity: 1;
                            transform: translateY(0);
                        }


                    }

                    .product-summary {
                        height: 260px;

                        .tit {
                            font-family: NotoSans-Thin;
                            line-height: 1;
                            font-size: 50px;
                        }

                        .name {
                            font-family: NotoSans-Thin;
                            font-size: 80px;
                        }

                        .txt {
                            font-family: NotoSans-Light;
                            font-size: 18px;
                            padding-top: 15px;
                            line-height: 1.5;
                            // height: 96px;
                        }
                    }


                    .btn {
                        font-size: 20px;
                        display: flex;
                        margin-top: 40px;
                        gap: 20px;
                        opacity: 0;
                        transition: 1s;
                        transform: translateY(10px);

                        a {
                            color: #fff;
                            background: rgb(20, 159, 92);
                            padding: 15px 30px;
                            border-radius: 50px;

                        }
                    }

                    .product-img {
                        width: 520px;
                        height: 536px;
                        position: absolute;
                        right: -120px;
                        bottom: 0;
                        overflow: hidden;

                        .img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            transform: translateY(100px);


                            &.img1 {
                                transition: .6s;

                            }

                            &.img2 {
                                transition: 1s;
                            }

                        }
                    }
                }
            }

        }



        .menu-item {
            margin-top: 35px;
            width: 100%;

            .menu-line {
                border-top: 1px solid #ffffff;
                width: 100%;
                position: relative;

                .dot {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50px;
                    background-color: #fff;
                    position: absolute;
                    top: -5px;

                }
            }

            .menu {
                font-family: NotoSans-Light;
                display: flex;
                justify-content: space-between;
                color: #fff;
                font-size: 20px;
                gap: 20px;
                width: $container;
                margin: auto;
                padding: 20px;


                li {
                    text-align: center;
                    color: #fff;
                    font-size: 18px;
                    z-index: 99;


                    a {
                        opacity: .8;

                        &.on {
                            font-family: NotoSans-Medium;
                            opacity: 1;
                        }

                    }


                }
            }
        }

    }
}

footer {
    padding: 60px;
    text-align: center;
    color: #888;
    font-family: NotoSans-Light;

    .utill {
        @include flex-align(center);
        justify-content: center;
        gap: 20px;
        font-size: 18px;
        padding: 20px;

        li {
            background: url(./images/dot4x4.png) no-repeat right center;
            padding-right: 15px;
        }

        .u-d {
            color: #333;
            background: url(./images/footer_familyD_open.gif) no-repeat right 15px center;
            padding: 5px 70px 5px 20px;
            border: 1px solid #dddddd;
            border-radius: 50px;
            background-color: #fff;
        }
    }

    .info {
        font-size: 16px;
        @include flex-align(center);
        justify-content: center;
        gap: 15px;

        li {
            span {
                border-left: 1px solid #c1c1c1;
                padding-left: 10px;
            }
        }

    }

    .copyright {
        font-size: 14px;
        color: #bbb;
        padding: 15px;
    }

    .isms {
        padding: 15px;
        text-align: left;
        font-size: 14px;
        display: flex;
        @include flex-align(center);
        justify-content: center;
        gap: 20px;

        img {
            width: 100px;
        }
    }
}