@import url(/reset.css);

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: Metropolis-Light;
    src: url(./font/Metropolis-Light.woff);
}

@font-face {
    font-family: Metropolis-Medium;
    src: url(./font/Metropolis-Medium.woff);
}

@font-face {
    font-family: Metropolis-Regular;
    src: url(./font/Metropolis-Regular.woff);
}

@font-face {
    font-family: Metropolis-Bold;
    src: url(./font/Metropolis-Bold.woff);
}

@font-face {
    font-family: NotoSansKR-Medium;
    src: url(./font/NotoSansKR-Medium-Hestia.woff);
}

@font-face {
    font-family: NotoSansKR-DemiLight;
    src: url(./font/NotoSansKR-DemiLight-Hestia.woff);
}

@font-face {
    font-family: NotoSansKR-DemiLight;
    src: url(./font/NotoSansKR-DemiLight-Hestia.woff);
}

body {
    font-family: Metropolis-Regular;
    font-weight: 300;
    color: #666;
}

.inner {
    max-width: 1740px;
    margin: auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #fff;

    &::after {
        position: absolute;
        top: 0;
        content: '';
        width: 100%;
        height: 0;
        z-index: 10;
        background-color: #fff;
        transition: .4s;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.02);
        transition: all .4s ease;
    }

    &.on {
        &::after {
            height: 400px;
        }
    }

    .utill {
        position: relative;
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 20px 0;
        z-index: 12;

        ul {
            @include flex-sb();
            gap: 10px;
        }

        a {
            font-family: NotoSansKR-DemiLight;
            position: relative;
            display: block;
            font-size: 15px;
            font-weight: 400;
            color: #666;
            line-height: 36px;
            white-space: nowrap;
            padding: 0 5px;


            &.wedding {
                background: url(./images/wedding-icon.png) left 15px center no-repeat #41b4b7;
                width: 120px;
                padding: 0 15px 0 34px;
                text-align: center;
                border-radius: 50px;
                color: #fff;
                font-size: 15px;
                font-weight: 500;
            }

            &.ace-mall {
                padding: 0 14px;
                border-radius: 50px;
                border: 1px solid #9badb6;
                background: #9badb6;
                color: #fff;
                font-size: 15px;
                font-weight: 500;
            }
        }


    }

    .logo {
        display: block;
        position: absolute;
        z-index: 2;

        h1 {
            width: 100%;
            height: 100%;
            background: url(./images/header-logo.png) no-repeat center;
            overflow: hidden;
        }
    }

    .prod-menu {
        cursor: pointer;
        width: 23px;
        height: 20px;
        background: url(./images/prod-menu.png) no-repeat center;
        background-size: 23px auto;
    }

    nav {
        @include flex-sb();
        position: relative;
        height: 48px;
        z-index: 15;

        a {
            display: inline-block;
        }

        .gnb {
            >ul {
                display: flex;
                justify-content: space-between;
            }

            .main-menu {
                position: relative;
                flex-shrink: 0;
                transition: .35s;

                &:hover {
                    >a {
                        color: #0890c0;


                    }
                }

                >a {
                    padding: 10px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #333;
                    line-height: 36px;

                    .hover {
                        display: none;
                    }
                }

                .sub-menu {
                    display: none;
                    position: absolute;

                    li {
                        font-family: NotoSansKR-DemiLight;
                        padding: 5px 10px;
                        font-size: 15px;
                        font-weight: 400;
                        color: #666;
                        line-height: 25px;
                        white-space: nowrap;

                        a {
                            position: relative;

                            &::after {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                bottom: 5px;
                                left: 0;
                                width: 0;
                                height: 4px;
                                background: #d6eff8;
                                z-index: -1;
                                transition: width 0.4s ease-out;
                            }
                        }

                        &:hover {
                            a {
                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            &.left-gnb {
                width: 30%;
                position: absolute;


                .left-menu {
                    .main-menu {
                        padding-right: 30px;

                        .on {
                            font-family: Metropolis-Medium;
                        }

                        .hover {
                            font-family: NotoSansKR-Medium;
                        }
                    }

                    &:hover {
                        .main-menu {
                            padding-right: 45px;

                            .on {
                                display: none;
                            }

                            .hover {
                                display: block;
                            }
                        }
                    }
                }
            }

            &.right-gnb {
                position: absolute;

                .right-menu {

                    .main-menu {
                        padding-left: 30px;

                        >a {
                            font-family: NotoSansKR-Medium;
                        }
                    }


                    &:hover {
                        .main-menu {
                            padding-left: 45px;


                        }

                        .l-60 {
                            padding-left: 80px;
                        }
                    }
                }

                .gnb-search {
                    .search {
                        cursor: pointer;
                    }

                    .all-menu {
                        cursor: pointer;
                    }
                }

            }
        }
    }

}

section {
    width: 100%;

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 70px;
        height: 150px;
        z-index: 10;


        &:hover {
            p {
                opacity: 1;
            }
        }

        &.prev {
            left: 0;
            right: auto;
            // pointer-events: none;

            P {
                transform: translateY(-50%) rotate(-90deg);
                right: -10px;
            }
        }

        &.next {
            right: 0;
            left: auto;

            svg {
                position: absolute;
                right: 0;
            }

            P {
                transform: translateY(-50%) rotate(90deg);
                left: -10px;
            }
        }

        svg {
            cursor: pointer;
            width: 50px;
            height: 150px;

            path {
                stroke: #c9c9c9;
                stroke-width: 4;
                stroke-linecap: round;
                transition: 1s;
                fill: transparent;
            }
        }

        P {
            position: absolute;
            top: 50%;
            left: auto;
            width: auto;
            font-family: "Metropolis";
            font-size: 15px;
            font-weight: 300;
            color: #333;
            line-height: 1;
            letter-spacing: 1px;
            opacity: 0;
        }
    }

    &.sect1 {
        position: relative;

        .swiper {
            position: relative;

            .swiper-slide {
                height: 100%;
                text-align: center;
                font-size: 18px;
                overflow: hidden;
    
                p {
                    @include background();
                    width: 100%;
                    height: 100%
                }
    
                &.slide1 {
                    .bg-w {
                        background-image: url(./images/slide1-w.jpg);
                    }
    
                    .bg-m {
                        background-image: url(./images/slide1-m.jpg);
                    }
                }
    
                &.slide3 {
                    .bg-w {
                        background-image: url(./images/slide3-w.jpg);
                    }
    
                    .bg-m {
                        background-image: url(./images/slide3-m.jpg);
                    }
                }
    
                &.slide4 {
                    .bg-w {
                        background-image: url(./images/slide4-w.jpg);
                    }
    
                    .bg-m {
                        background-image: url(./images/slide4-m.jpg);
                    }
                }
    
                &.slide5 {
                    .bg-w {
                        background-image: url(./images/slide5-w.jpg);
                    }
    
                    .bg-m {
                        background-image: url(./images/slide5-m.jpg);
                    }
                }
    
                video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
    
            }
        }
    }

    &.sect2 {
        position: relative;
        
        h2 {
            font-family: Metropolis-Regular;
            text-align: center;
            margin: 147px 0 80px;
            font-size: 50px;
            font-weight: 200;
            color: #333;
            letter-spacing: 2px;
        }

        .science-wrap {
            width: calc(100% - 160px);
            margin: auto;
            position: relative;
            height: 800px;
            @include flex-sb();
            border: 1px solid #0fb6b6;

            .tabs,
            .v-slide-container {
                width: calc((100% - 710px)/2);
            }

            .tabs {
                position: relative;
                height: 100%;
                border: 1px solid #000;

                ul.tab-menu {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);

                    li {
                        a {
                            display: block;
                            width: 300px;
                            margin-bottom: 27px;
                            font-size: 16px;
                            color: #999;
                            letter-spacing: 1px;
                            transition: 0.5s;
                            transition-property: font-size;
                            cursor: pointer;

                            &.on {
                                font-family: Metropolis-Medium;
                                font-size: 22px;
                                color: #0890c0;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .h-slide-container{
                height: 100%;
                overflow: hidden;

                .hslide-wrap {
                    @include flex();
                    width: 710px;
                    height: 100%;
                    position: relative;
                    left: 0;
                    
    
                    .video {
                        position: relative;
                        width: 710px;
                        height: 800px;
                        margin: auto;
                        overflow: hidden;
    
                        video {
                            position: absolute;
                            top: 0px;
                            left: 50%;
                            transform: translate(-50%, 0);
                            height: 800px;
                        }
                    }
                }
            }

            .v-slide-container{
                height: 100%;
                // overflow: hidden;

                .vslide-wrap {
                    height: 100%;
                    position: relative;
                    left: 0;

                    .vslide {
                        position: relative;
                        height: 100%;
                        background-color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 40px;
    
                        .txt1 {
                            font-family: NotoSansKR-Medium;
                            font-size: 40px;
                            font-weight: 500;
                            color: #333;
                            line-height: 54px;
                            letter-spacing: -3px;
                        }
    
                        .txt2 {
                            font-size: 20px;
                            line-height: 30px;
                            margin-top: 24px;
                        }
                    }
                }
            }
          


        }


    }
}


@media screen and (max-width :768px) {
    header {
        height: 85px;

        .utill {
            display: none;
        }

        .logo {
            left: 50%;
            transform: translateX(-50%);
            top: 30px;
            right: auto;
            width: 100px;
            height: 24px;

            h1 {
                background-size: 100% auto;
            }

        }

        .gnb {
            &.left-gnb {
                top: 30px;
                left: 5%;

                .left-menu {
                    display: none;
                }
            }

            &.right-gnb {
                top: 30px;
                right: 5%;

                .right-menu {
                    display: none;
                }

                .gnb-search {
                    .search {
                        display: none;
                    }

                    .all-menu {
                        width: 19px;
                        height: 20px;

                        img {
                            width: 100%;
                        }
                    }
                }

            }
        }
    }

    section {

        &.sect1 {
            .swiper {
                margin-top: 85px;
                width: 90%;
                height: calc(100vh - 120px);

                .swiper-slide {
                    .bg-w {
                        display: none;
                    }
                }
            }

            .arrow {

                &.prev {
                    display: none;
                }

            }
        }
    }
}

@media screen and (min-width :769px) {
    header {
        height: 155px;

        .utill {
            display: flex;
        }

        .logo {
            left: 50px;
            top: 70px;
            right: auto;
            width: 182px;
            height: 48px;

            h1 {
                background-size: 100% 100%;
            }

        }

        .prod-menu {
            display: none;
        }

        .gnb {

            &.left-gnb {
                left: 25%;
            }

            &.right-gnb {
                right: 0;

                .right-menu {
                    display: none;
                }

                .gnb-search {
                    gap: 15px;
                    padding: 10px;
                }

            }
        }


    }

    section {

        &.sect1 {
            .swiper {
                margin-top: 200px;
                width: calc(100% - 160px);
                height: calc(100vh - 280px);

                .swiper-slide {
                    .bg-m {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width :1500px) {

    header {
        .utill {
            display: flex;
        }

        .logo {
            left: 50%;
            transform: translateX(-50%);
        }

        .prod-menu {
            display: none;
        }

        .gnb {
            &.left-gnb {
                left: 0;
            }

            &.right-gnb {
                right: 0;
                display: flex;
                align-items: center;

                .right-menu {
                    display: flex;
                }

            }
        }



    }


}